
:local .mode-switch-container {
  width: 20rem;;
  min-width: 20rem;
  @media screen and (max-width: 650px) {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    padding-left: .25rem;
    position: absolute;
    top: 240px;
    z-index:3;
  }
}

:local .dropdown-container {
  width: 300px;
  min-width: 300px;
  padding-left: 0;
  padding-right: 0;
  z-index: 7;
  @media screen and (max-width: 650px) {
    width: 100%;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}




:local .legend-container {
  width: 300px;
  min-width: 300px;
  @media screen and (max-width: 650px) {
    width: 100%;
    max-width: 100%;
  }
}


:local .tooltip-container {
  pointer-events: none;
  border: 0;
  width: 320px;
  :global .tooltip-body {
    padding-left: 4rem;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    z-index: 3;
    :global .tooltip-body {
      bottom: 0;
      padding-left: .5rem;
    }
  }
}


:local .address-search-container {
  left: 0;
  z-index: 3;

  :global div.absolute {
    padding-left: 4rem;
  }

  @media screen and (max-width: 650px) {
    left: 0;
    z-index: 4;
    :global div.absolute {
      padding-left: .5rem;
      display: block !important;
    }
  }
}