:local .address-search {
  background-color: rgba(225,225,225,0.9);
  z-index: 1;
  width: 320px;
  font-size: 10pt;
  color: #10069F;
}

:local .input-field-container {
  background: no-repeat right 7px top 0;
  background-size: 5%;
  line-height: 1;
}

:local .input-field, .input-field:focus {
  width: 85%;
  border: 0;
  background: transparent;
  outline: 0;
  color: #10069F;
  font-size: 10pt;
}

:local .search-button {
  border: 0;
  outline: 0;
  background: transparent;
}

:local .results {
  color: #10069F;

  a {
    cursor: pointer;
    padding-right: .25rem;
  }

  a:hover, a:focus {
    background: #10069F;
    color: #FFFFFF;
    margin-left: -.5rem;
    padding-left: .5rem;
  }
}

:global .pac-container {
  margin-top: 17px;
  background-color: rgba(225,225,225,0.9);
  border: 0;
  box-shadow: none;
  width: 256px !important;
  font-family: inherit;

  .pac-item {
    border: 0;
    color: #10069F;
  }
  .pac-item-selected {
    border: 0;
    color: #10069F;
    background-color: rgba(255,255,255, 0.5);

    .pac-icon-marker {

    }
  }
  .pac-item-query {
    color: #10069F;
  }

  .pac-icon-marker {
    filter: grayscale(100%);
  }
}

:global .hdpi.pac-logo:after {
  filter: grayscale(100%);
  opacity: 0.5;
  margin-right: 2px;
  margin-bottom: 2px;
}
